/*  title:  List-item
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --List-item-bg-color: none;
    --List-item-bg-color-active: 255, 255, 255;
    --List-item-color: 255 255 255;
    --List-item-padding: .5rem 1.25rem;
}


/*  base
===================================================================================================================== */
.List-item {
    background-color: rgb(var(--List-item-bg-color));
    color: rgb(var(--List-item-color));
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 700;
    list-style-type: none;
    margin-bottom: 1rem;
    padding: var(--List-item-padding);
    text-decoration: none;
    transition: .2s;
    width: 100%;
}
    .List-item:last-of-type {
        margin-bottom: 0;
    }

    /*  test states
    ================================================================================================================= */
    .List-item:not(.disabled):hover,
    .List-item:not(.disabled):active,
    .List-item:not(.disabled).active {
        background-color: rgba(var(--List-item-bg-color-active), .3);
        /*color: rgb(32, 43, 55);*/
    }

    /*  disabled
    ================================================================================================================= */
    .List-item.disabled {
        background-color: rgba(var(--List-item-bg-color-active), .5);    /* TODO not sure if same yet */
        cursor: not-allowed;
        user-select: none;
    }

    /*  if a slug/link added
    ================================================================================================================= */
    .List-item a {
        color: inherit;
        display: block;
        text-decoration: none;
    }