/*  title:  login
    notes:  organism styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {

}


/*  base
 ==================================================================================================================== */
.Login {
}
    /*  modal type, main content
     ================================================================================================================ */
    .Login .main-content {
        align-items: flex-start;
        border-radius: var(--Global-border-radius, 5px);
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /*TODO the pin are too large on the enter verification code on mobile so reduce here and speak to design*/
    @media screen and (max-width: 767px) {
        .Login .Pin .pin-input {
            height: 38px;
            width: 38px;
        }
    }
    @media screen and (min-width: 768px) {
        .Login .main-content {
            max-width: 370px;
        }
    }

        /*  heading / text
        ============================================================================================================= */
        .Login h1 {
            font-size: 1.875rem;
            margin-bottom: 1.5rem;
        }
        @media screen and (min-width: 768px) {
            .Login h1 {
                font-size: 2.25rem;
            }
        }

        .Login p {
            padding: 0;
        }

        /*  separator
        ============================================================================================================= */
        .Login .alternatively {
            border-top: 1px solid rgba(var(--Global-color-5), .2);
            color: #727B9B;
            margin-top: 1.5rem;
            padding: 1.5rem 0;
        }

        /*  google SSO login
        ============================================================================================================= */
        .Login #googleLogin {
            display: flex;
            justify-content: center;
        }

        /*  ms SSO login
        ============================================================================================================= */
        .page-login .Button.ms-login {
            background-color: transparent;
            border: 1px solid #8c8c8c;
            border-radius: 0;
            color: #5e5e5e;
            font-family: "Segoe UI";
            font-size: 15px;
            font-weight: 600;
            margin-top: 1.5rem;
            margin-left: 28px;
            padding: .5625rem 1.5rem;
            width: 314px;
        }
            .page-login .Button.ms-login svg {
                margin-right: 12px;
            }

        /*  stage 1 (email)
        ============================================================================================================= */
        .Login .email-cta {
            align-items: center;
            display: flex;
        }


        /*  button has consistent margin
        ============================================================================================================= */
        .Login .Button {
            margin-top: 1.5rem;
        }
            /*  loading spinner
            ========================================================================================================= */
            .Login .icon-spinner {
                fill: #fff;
                height: 1em;
            }

        /*  shared: */
        .Login input,
        .Login button {
            width: 100%;
        }

        .Login .main-cta-container {
            display: flex;
            gap: 1rem;
            width: 100%;
        }


