/*  title:  login
    notes:  organism styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {

}


/*  base
 ==================================================================================================================== */
.Login {
}
    /*  modal type, main content
     ================================================================================================================ */
    .Login .main-content {
        align-items: flex-start;
        border-radius: var(--Global-border-radius, 5px);
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .Login .main-content {
            max-width: 370px;
        }
    }

        /*  heading / text
        ============================================================================================================= */
        .Login .main-content h1 {
            padding-bottom: 1rem;
        }
            .Login .main-content p {
                padding: 0 0 2rem 0;
            }

        /*  stage 1 (email)
        ============================================================================================================= */
        /*.Login .Form-input {*/
        /*    margin-top: 1rem;*/
        /*}*/
            .Login .email-cta {
                align-items: center;
                display: flex;
            }

        /*  loading spinner
        ============================================================================================================= */
        .Login .icon-spinner {
            fill: #fff;
            height: 1em;
        }

        /*  main CTA
        ============================================================================================================= */
        .Login .Button {
            margin-top: 2rem;
        }
