/*  title:  login
    notes:  organism styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {

}


/*  base
 ==================================================================================================================== */
.Login {
}
    /*  modal type, main content
     ================================================================================================================ */
    .Login .main-content {
        align-items: flex-start;
        border-radius: var(--Global-border-radius, 5px);
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /*TODO the pin are too large on the enter verification code on mobile so reduce here and speak to design*/
    @media screen and (max-width: 767px) {
        .Login .Pin .pin-input {
            height: 38px;
            width: 38px;
        }
    }
    @media screen and (min-width: 768px) {
        .Login .main-content {
            max-width: 370px;
        }
    }

        /*  heading / text
        ============================================================================================================= */
        .Login .main-content h1 {
            padding-bottom: 1rem;
        }
            .Login .main-content p {
                padding: 0 0 2rem 0;
            }

        /*  stage 1 (email)
        ============================================================================================================= */
        .Login .email-cta {
            align-items: center;
            display: flex;
        }

        /*  loading spinner
        ============================================================================================================= */
        .Login .icon-spinner {
            fill: #fff;
            height: 1em;
        }

        /*  main CTA
        ============================================================================================================= */
        .Login .Button {
            margin-top: 1.5rem;
        }





.page-login h1 {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
    .page-login h1 {
        font-size: 2.25rem;
    }
}

.page-login p {
    padding: 0;
}

.page-login input,
.page-login button {
    width: 100%;
}


/*  separator
================================================================================================================= */
.page-login .alternatively {
    border-top: 1px solid rgba(var(--Global-color-5), .2);
    color: #727B9B;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
}

/*  google SSO login
================================================================================================================= */
.page-login #googleLogin {
    display: flex;
    justify-content: center;
}