/*  title:  modalCenter
    notes:  component styles
 ==================================================================================================================== */




/*  fade in, with a slight zoom effect
===================================================================================================================== */
.fade-in-appear,
.fade-in-enter {
    opacity: 0;
    transform: scale(.5);
}
.fade-in-appear-active,
.fade-in-enter-active {
    opacity: 1;
    transition: .2s;
    transform: scale(1);
}

.fade-in-exit {
    opacity: 1;
}
.fade-in-exit-active {
    opacity: 0;
    transition: 1s;
    transform: scale(.5);
}


.slide-in-from-right-appear,
.slide-in-from-right-enter {
    transform: translateX(200px);
}

.slide-in-from-right-appear-active,
.slide-in-from-right-enter-active {
    transform: translateX(0);
    transition: .3s;
}


.slide-in-from-right-exit-active {
    transition: .2s;
    transform: translateX(200px);
}