/*  title:  typography
    notes:  set global variables available for typography
            set global typography rules
 ==================================================================================================================== */




/*  headings
 ==================================================================================================================== */
h1, h2, h3, h4, h5, h6 {
    color: rgb(var(--Global-heading-color, 32 43 55));
    font-weight: var(--Global-heading-font-weight, 700);
}

h1 {
    font-size: var(--Global-h1-size, 1.5rem);
    line-height: 1em;
}

h2 {
    font-size: var(--Global-h2-size, 1.0625rem);
    letter-spacing: .5px;
    line-height: 1.4375rem;
}

h3 {
    font-size: var(--Global-h3-size, 1rem);
    line-height: 1rem;
}

h4 {
    font-size: var(--Global-h24-size, .875rem);
    letter-spacing: .5px;
    line-height: 1.1875rem;
}

/*  use h5 for the capitalised "Titles/Overtitle" style */
h5 {
    color: rgb(var(--Global-color-5, 114 123 155));
    font-size: .625rem;
    line-height: 1em;
    letter-spacing: .2em;
    text-transform: uppercase;
}




/*  body/main
 ==================================================================================================================== */
body {
    color: rgb(var(--Global-base-font-color), 66, 78, 121);
}
    p {
        color: rgb(var(--Global-base-font-color), 66, 78, 121);
        font-weight: var(--Global-base-font-weight, 400);
        font-size: var(--Global-base-font-size);
        line-height: 1.4375rem;
        padding: var(--Global-base-font-padding, .75rem 0);
    }

    small {
        font-size: .875rem;
    }