/*  title:  FileList
    notes:  component styles
 ==================================================================================================================== */




/*  basic
 ==================================================================================================================== */
.File-list .heading {
    margin-bottom: .5rem;       /*  should be 1rem but going to put margin on the file  */
}

    .File-list .File {
        margin-top: .5rem;
    }
