/*  title:  Checkbox
    notes:  molecule styles

===================================================================================================================== */




/*  component
===================================================================================================================== */
.Checkbox {
    align-items: center;
    display: flex;
}
    .Checkbox .Form-checkbox {
        margin-right: .5rem;
    }
    .Checkbox .Label {
        display: block;
        width: 100%;
    }
    .Checkbox .Label:not(.disabled) {
        cursor: pointer;
    }