/*  title:  formInput
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Icon-active-color: #fff;
    --Icon-background-color: #424e79;
    --Icon-color: #fff;
    --Icon-height: 40px;
    --Icon-width: 40px;
}


/*  base
===================================================================================================================== */
.Icon {
    background-color: var(--Icon-background-color);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: var(--Icon-height);
    height: var(--Icon-height);
    position: relative;
    width: var(--Icon-width);
}

    /*  active
    ================================================================================================================= */
    .Icon.active {
        border: 2px solid var(--Icon-active-color);
    }
        .Icon.active > .letter {
            line-height: 1.1em;
        }

    /*  letter
    ================================================================================================================= */
    .Icon > .letter {
        color: var(--Icon-color);
        float: left;
        font-size: 0.8em;
        height: 100%;
        line-height: 1.25em;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    /*  img
    ================================================================================================================= */
    .Icon > img {
        float: right;
        height: 100%;
        position: absolute;
        width: 100%;
    }
