/*  title:  modalCenter
    notes:  component styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
}


/*  base
===================================================================================================================== */
.Modal-center {
    background-color: rgb(0, 0, 0, .2);
    backdrop-filter: blur(3px);
    align-items: center;
    display: flex;
    flex-direction: unset;
    flex-wrap: nowrap;
    height: 200vh;
    justify-content: center;
    inset: -50vh -50vw;
    position: fixed;
    width: 200vw;
    z-index: 100;
}


    /*  for overflow (allow a scroll)
    ================================================================================================================= */
    .Modal-center .for-overflow {
        margin-top: 0;
        max-height: 100vh;
        overflow: auto;
        overscroll-behavior: contain;
        width: 100%;
    }

        /*  content
        ============================================================================================================= */
        .Modal-center .content {
            background-color: #fff;
            border-radius: var(--Global-border-radius, 5px);
            margin: 100px auto;
            min-width: 400px;
            padding: 3rem 4rem;
            position: relative;
            width: 800px;
        }
            /*  close   */
            .Modal-center .close {
                align-items: center;
                /*background-color: red;*/
                border-radius: 100%;
                cursor: pointer;
                display: flex;
                float: right;
                height: 30px;
                justify-content: center;
                transform: rotate(0deg);
                transition: .5s;
                width: 30px;
            }
                .Modal-center .close:hover {
                    transform: rotate(-90deg);
                    transition: .1s;

                }






/*!*  TODO crearte basic library of animations used on the app    *!*/
/*.fade-in-enter {*/
/*    opacity: 0;*/
/*    transform: scale(.5);*/
/*}*/
/*.fade-in-enter-active {*/
/*    opacity: 1;*/
/*    transition: .2s;*/
/*    transform: scale(1);*/
/*}*/
/*.fade-in-exit {*/
/*    opacity: 1;*/
/*}*/
/*.fade-in-exit-active {*/
/*    opacity: 0;*/
/*    transition: .1s;*/
/*    transform: scale(.5);*/
/*}*/

