/*  title:  modalCenter
    notes:  component styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Modal-center-background: var(--Global-color-5);
}


/*  base
===================================================================================================================== */
.Modal-center {
    background-color: rgba(var(--Modal-center-background), .5);
    backdrop-filter: blur(3px);
    align-items: center;
    display: flex;
    flex-direction: unset;
    flex-wrap: nowrap;
    height: 200vh;
    justify-content: center;
    inset: -50vh -50vw;
    position: fixed;
    width: 200vw;
    z-index: 9999;
}


    /*  for overflow (allow a scroll)
    ================================================================================================================= */
    .Modal-center .for-overflow {
        margin-top: 0;
        max-height: 100vh;
        overflow: auto;
        overscroll-behavior: contain;
        width: 100%;
    }

        /*  content
        ============================================================================================================= */
        .Modal-center .content {
            background-color: #fff;
            border-radius: var(--Global-border-radius, 5px);
            margin: 100px auto;
            max-width: 95vw;
            padding: 1.5rem;
            position: relative;
            width: 435px;
        }
            /*  close   */
            .Modal-center .close {
                align-items: center;
                border-radius: 100%;
                cursor: pointer;
                display: flex;
                float: right;
                height: 30px;
                justify-content: center;
                margin-top: -6px;
                transform: rotate(0deg);
                transition: .5s;
                width: 30px;
            }
                .Modal-center .close:hover {
                    transform: rotate(-90deg);
                    transition: .1s;

                }

            /*  content (injected as child props
            ========================================================================================================= */
            .Modal-center .heading {
                margin-bottom: 2rem;
            }

            .Modal-center .Form-input {
                width: 100%;
            }

            .Modal-center .ctas {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                margin-top: 2rem;
            }

                .Modal-center .Button {
                    margin-top: 1rem;
                    width: 100%;
                }

            /*  BREAKPOINT laptop >
            ========================================================================================================= */
            @media screen and (min-width: 768px) {
                .Modal-center .ctas {
                    flex-direction: row;
                }

                .Modal-center .Button {
                    margin-top: 0;
                    margin-left: 1rem;
                    width: auto;
                }
            }