/*  title:  tab
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Tab-border-color: var(--Global-base-font-color, 66, 78, 121);
    --Tab-border-color-active: var(--Global-color-1, 70, 50, 251);
    --Tab-padding: .5rem 1.25rem;
}


/*  basic
===================================================================================================================== */
.Tab {
    cursor: pointer;
    font-size: .75rem;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}
    .Tab a {
        color: inherit;
        text-decoration: none;
    }


/*  basic - Mobile
===================================================================================================================== */
@media screen and (max-width: 768px) {
    .Tab,
    .Tab > a {
        align-items: center;
        color: rgb(196 196 196);
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }
    .Tab > a {
        padding: .75rem 1rem .875rem;
    }

    /*  tab states
    ================================================================================================================= */
    .Tab:not(:disabled).active a {
        color: rgb(var(--Global-color-1, 70 50 251));
    }
    .Tab:not(:disabled).active .icon {
        fill: rgb(var(--Global-color-1, 70 50 251));
    }
        .Tab .icon {
            fill: rgb(196 196 196);
            height: 1rem;
            margin-bottom: .5rem;
            transition: .2s;
        }
}


/*  basic - Tablet >
===================================================================================================================== */
@media screen and (min-width: 768px) {
    .Tab {
        border-bottom: 2px solid rgb(var(--Tab-border-color));
        color: rgb(114, 123, 155);
        font-weight: 700;
        text-transform: uppercase;
    }
        .Tab a {
            display: inline-block;
            padding: var(--Tab-padding);        /*  TODO prob want to ensure non-links accounted for at some point  */
        }
    /*  tab states
    ================================================================================================================= */
    .Tab:not(:disabled):hover,
    .Tab:not(:disabled):focus,
    .Tab:not(:disabled):focus-visible,
    .Tab:not(:disabled):focus-within,
    .Tab:not(:disabled).active {
        border-bottom: 2px solid rgb(var(--Tab-border-color-active));
        box-shadow: 0 1px rgb(var(--Tab-border-color-active));
        color: rgb(32, 43, 55);
    }

        /*  don't show icon  */
        .Tab .icon {
            display: none;
        }
 }