/*  title:  default
    notes:  template styles, local for layout and overrides where needed for existing components
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {

}


/*  base
 ==================================================================================================================== */
.Default-template {
    align-items: stretch;       /*  only two main parents, side-col & main  */
    display: flex;
    justify-content: flex-start;
}

    .Default-template main {
        width: 100%;
    }