/*  title:  TagsSelect
    notes:  molecule styles
            select a tag from an existing list/array
===================================================================================================================== */




/*  TagsSelect component
===================================================================================================================== */
.Tags-select {
   --Tags-select-border: 1px solid var(--Tags-select-border-color);
   --Tags-select-border-color: rgb(var(--Global-form-border-color, 170 176 195));
   --Tags-select-border-radius: var(--Global-form-border-radius, 5px);
   --Tags-select-font-size: var(--Global-base-font-size, 16px);
   --Tags-select-padding: .25rem .75rem;
}


/*  this is the upper, tags have been added, container
===================================================================================================================== */
.Tags-select .selected-tags-container {
    align-items: center;
    border: var(--Tags-select-border);
    border-radius: var(--Tags-select-border-radius);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--Tags-select-font-size);
    line-height: 1;
    min-height: 44px;
    outline: none;      /* poor accessability */
    padding: var(--Tags-select-padding);

    width: 300px;   /*  TODO leaving here to ponder */
}
    .Tags-select .selected-tags-container .Filter-tag {
        margin: 3px;
    }


    /*  tags added container
    ================================================================================================================= */
    .Tags-select .tags-container {
        margin-top: .25rem;
    }

