/*  title:  TagsSelect
    notes:  molecule styles
            select a tag from an existing list/array
===================================================================================================================== */




/*  TagsSelect component
===================================================================================================================== */
.Tags-select {

   --Tags-select-border: 1px solid var(--Tags-select-border-color);
   --Tags-select-border-color: rgb(var(--Global-form-border-color, 170 176 195));
   --Tags-select-border-radius: var(--Global-form-border-radius, 5px);
   --Tags-select-font-size: var(--Global-base-font-size, 16px);
   --Tags-select-padding: 0 .75rem;
}


/*  this is the upper, tags have been added, container
===================================================================================================================== */
.Tags-select .selected-tags-container {
    align-items: center;
    border: var(--Tags-select-border);
    border-radius: var(--Tags-select-border-radius);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--Tags-select-font-size);
    line-height: 1;
    min-height: 44px;
    outline: none;      /* poor accessability */
    padding: var(--Tags-select-padding);
}
    .Tags-select .selected-tags-container .Filter-tag {
        margin: 3px;
    }






    /*  tags added container
    ================================================================================================================= */
    .Tags-select .tags-container {
        margin-top: .25rem;
    }

    /*  tags (TODO need to speak to Jose about existing tags as style not consistent, so adding here for now)
    ================================================================================================================= */
    .Filter-tag {
        --border: 1px solid var(--border-color);
        --border-color: rgb(var(--Global-form-border-color, 170 176 195));
        --border-radius: var(--Global-form-border-radius, 5px);
        --height: 25px;

        align-items: center;
        border: var(--border);
        border-radius: var(--border-radius);
        cursor: pointer;
        display: inline-flex;
        font-size: .875rem;
        height: var(--height);
        line-height: 1;
        margin: .25rem .5rem 0 0;
        padding: 0 .5rem;
        text-transform: capitalize;
        transition: .3s;
    }
    .Filter-tag:hover {
        background-color: rgba(var(--Global-form-border-color, 170 176 195), .2);
        transition: .2s;
    }
        /*  for removing    */
        .Filter-tag:hover .icon-close {
            transform: rotate(-90deg);
            transition: .2s;
        }
        /*  the icon    */
        .Filter-tag .icon-close {
            height: 14px;
            margin-left: .25rem;
            transform: rotate(0deg);
            transition: .2s;
            width: auto;
        }
        /*  if trying to add a tag that already exists, highlight to the user   */
        .Filter-tag.highlight {
            animation-name: colorChange, heartBeat;
            animation-duration: 3s, .75s;
            animation-timing-function: ease-in-out;
        }
        /*  added tags (selected from a pre-existing list)  */
        .Filter-tag.added {
            background-color: rgb(var(--Global-color-1, 78 50 251));
            color: #fff;
            fill: #fff;
        }
        /*  hidden tags (used when selecting from a pre-existing list) */
        .Filter-tag.hidden {
            margin: 0;
            opacity: 0;
            padding: 0;
            pointer-events: none;
            width: 0;
        }





@keyframes colorChange {
    0% {
        border-color: red;
        color: red;
        fill: red;
    }
    100% {
        border-color: inherit;
        color: inherit;
        fill: inherit;
    }
}

@keyframes heartBeat {
    0%, 28%, 70% {
        transform: scale(1);
    }
    14%, 42% {
        transform: scale(1.1);
    }
}
