:root {
    --ListHeader-color: #989eb4;
}

.ListHeader {
    color: var(--ListHeader-color);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.4em;
    padding: 16px 16px 0 16px;
}