/*  title:  tag
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Tag-background-color: rgba(var(--Global-color-5, 114 123 155), .5);
    --Tag-border-radius: 20px;
    --Tag-color-error: var(--Global-color-error, 255 0 0);
    --Tag-color-success: var(--Global-color-success, 0 255 0);
}


/*  base
===================================================================================================================== */
.Tag {
    background-color: var(--Tag-background-color);
    border-radius: var(--Tag-border-radius);
    color: #fff;
    font-size: .875rem;;
    padding: .15rem .75rem;
}

    /*  error
    ================================================================================================================= */
    .Tag.error {
        background-color:  rgb(var(--Tag-color-error));
    }

    /*  success
    ================================================================================================================= */
    .Tag.success {
        background-color: rgb(var(--Tag-color-success));
    }

    /*  sent
    ================================================================================================================= */
    .Tag.sent {
        background-color: rgb(var(--Global-color-2, 40 216 173));
    }

    /*  draft || pending
    ================================================================================================================= */
    .Tag.draft,
    .Tag.pending {
        background-color: rgb(var(--Global-color-3, 250 143 45));
    }