/*  title:  page-login
    notes:  layout for the page
 ==================================================================================================================== */



/*  variables
===================================================================================================================== */
:root {
}


/*  override the template styles for this page
===================================================================================================================== */
.page-login .Template-minimal {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

   /*  page(s) - login
   ================================================================================================================== */
    .page-login-main {
        padding: 1rem;      /*  not sure if this could/should be more global    */
    }