/*  title:  InputFileUpload
    notes:  molecule styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Input-file-upload-border-radius: var(--Global-border-radius, 5px);
    --Input-file-upload-font-size: 1rem;
    --Input-file-upload-padding: 12px 24px;
}


/*  base
===================================================================================================================== */
.Input-file-upload {
}
    /*  label acts as the "button"
    ================================================================================================================= */
    .Input-file-upload label {
        align-items: center;
        border: 1px solid rgb(var(--Global-color-5, 114 123 155));
        border-radius: var(--Input-file-upload-border-radius);
        cursor: pointer;
        display: inline-flex;
        font-size: var(--Input-file-upload-font-size);
        font-weight: 400;
        line-height: 1;
        padding: var(--Input-file-upload-padding);
        transition: .3s;
    }
        /*  sort the icon */
        .Input-file-upload .icon-attachment,
        .Input-file-upload .icon-spinner{
            margin-right: .875rem;
        }

    /*  hide the original input
    ================================================================================================================= */
    .Input-file-upload input {
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        width: .1px;
        z-index: -1;
    }

    /*  files
    ================================================================================================================= */
    .Input-file-upload .Uploaded-file {
        margin-left: 1rem;
    }
