/*  title:  list
    notes:  molecule styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --List-background-color: transparent;
}


/*  base
===================================================================================================================== */
.List {
    background-color: rgb(var( --List-background-color));
    display: flex;
    flex-direction: column;
}