/*  title:  validation-message
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Validation-message-color-error: var(--Global-color-error, 255 0 0);
    --Validation-message-color-success: var(--Global-color-success, 0 255 0);
}


/*  base
===================================================================================================================== */
.Validation-message {
    margin-top: .5rem;
    padding: 0;
}

    /*  error
    ================================================================================================================= */
    .Validation-message.error {
        color:  rgb(var(--Validation-message-color-error));
    }

    /*  success
    ================================================================================================================= */
    .Validation-message.success {
        color: rgb(var(--Validation-message-color-success));
    }

