/*  title:  formForm-checkbox
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Form-checkbox-color: var(--Global-color-1, 70 50 251);
    --Form-checkbox-border-radius: 5px;
}




/*  base
===================================================================================================================== */
.Form-checkbox {
    appearance: none;
    border: 1px solid rgb(var(--Form-checkbox-color));
    height: 18px;
    width: 18px;
}

    /*  selected
    ================================================================================================================= */
    .Form-checkbox.selected {
        background-color: rgb(var(--Form-checkbox-color));
        position: relative;
    }
        .Form-checkbox.selected:before {
            align-items: center;
            color: #fff;
            content: "\2713";
            display: inline-flex;
            font-size: 12px;
            inset: 0;
            justify-content: center;
            position: absolute;
        }

    /*  disabled
    ================================================================================================================= */
    .Form-checkbox:disabled {
        background-color: rgba(var(--Form-checkbox-color), .1);
        cursor: not-allowed;
        opacity: .5;
    }

    /*  large/big
    ================================================================================================================= */
    .Form-checkbox.large {
        height: 26px;
        width: 26px;
    }
        .Form-checkbox.large:before {
            font-size: 1rem;
        }
