/*  title:  label
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Label-color: #202B37;
}


/*  base
===================================================================================================================== */
.Label {
    color: var(--Label-color);
    display: block;
    font-weight: 700;
}
    .Label.disabled {
        cursor: not-allowed;
        opacity: .5;
    }
    /*  when used in a form there will be more than 1 "group" of inputs, so will need margin
    ================================================================================================================= */
    form .Label:not(:first-of-type) {
        margin-top: 2rem;
    }

    /*  when followed by some form element, give some margin (NOTE: could potentially do this on the molecule but would require a wrapper class)
    ================================================================================================================= */
    .Label ~ input,
    .Label ~ textarea,
    .Label ~ .Pin,
    .Label ~ select {
        margin-top: 1rem;
    }