/*  title:  listHeader
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --ListHeader-color: #989eb4;
    --ListHeader-padding: 1rem 1.25rem;
}


/*  base
===================================================================================================================== */
.ListHeader {
    color: var(--ListHeader-color);
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: 700;
    line-height: 1.364;
    margin: 0;
    padding: var(--ListHeader-padding);
}