:root {
    --Input-border: 1px solid #ccc;
    --Input-success-color: green;
    --Input-error-color: red;
}

.Input {
    border: var(--Input-border);
}

.Input.error {
    border-color:  var(--Input-error-color);
}

.Input.success {
    border-color: var(--Input-success-color);
}

.Input:disabled {

}