/*  title:  wysiwyg
    notes:  component styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
}


/*  component styles
===================================================================================================================== */
.Wysiwyg {
    height: 300px;
    margin-top: 2rem;
}