/*  title:  tag-filter
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Tag-filter-border: 1px solid var(--Tag-filter-border-color);
    --Tag-filter-border-color: rgb(var(--Global-form-border-color, 170 176 195));
    --Tag-filter-border-radius: var(--Global-form-border-radius, 5px);
    --Tag-filter-height: 25px;
}


/*  base
===================================================================================================================== */
.Tag-filter {
    align-items: center;
    border: var(--Tag-filter-border);
    border-radius: var(--Tag-filter-border-radius);
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    height: var(--Tag-filter-height);
    line-height: 1;
    margin: .25rem .5rem .25rem 0;
    padding: 0 .5rem;
    text-transform: capitalize;
    transition: .3s;
}
    .Tag-filter:hover {
        background-color: rgba(var(--Global-form-border-color, 170 176 195), .2);
        transition: .2s;
    }
        /*  for removing    */
        .Tag-filter:hover .icon-close {
            transform: rotate(-90deg);
            transition: .2s;
        }

    /*  close icon, used when removing
    ================================================================================================================= */
    .Tag-filter .icon-close {
        height: 14px;
        margin-left: .25rem;
        transform: rotate(0deg);
        transition: .2s;
        width: auto;
    }

    /*  if trying to add (create) a tag that already exists, highlight to the user
    ================================================================================================================= */
    .Tag-filter.highlight {
        animation-name: colorChange, heartBeat;
        animation-duration: 3s, .75s;
        animation-timing-function: ease-in-out;
    }

    /*  added tags (selected from a pre-existing list)
    ================================================================================================================= */
    .Tag-filter.added {
        background-color: rgb(var(--Global-color-1, 78 50 251));
        color: #fff;
        fill: #fff;
    }

    /*  hidden tags (used when selecting from a pre-existing list)
    ================================================================================================================= */
    .Tag-filter.hidden {
        margin: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        width: 0;
    }



/*  animations
===================================================================================================================== */
/*  used when highlighting the tag has already been added, when adding tags to a list/array */
@keyframes colorChange {
    0% {
        border-color: rgb(var(--Global-color-success, 5 195 150));
        color: rgb(var(--Global-color-success, 5 195 150));
        fill: rgb(var(--Global-color-success, 5 195 150));
    }
    100% {
        border-color: inherit;
        color: inherit;
        fill: inherit;
    }
}

/*  used in conjunction with the colorChange    */
@keyframes heartBeat {
    0%, 28%, 70% {
        transform: scale(1);
    }
    14%, 42% {
        transform: scale(1.1);
    }
}
