/*  title:  File
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --File-background-color: var(--Global-color-5, 114 123 155);
    --File-border-radius: var(--Global-border-radius, 5px);
    --File-font-size: 1rem;
    --File-padding: 10px 22px;
}


/* base
===================================================================================================================== */
.File {
    align-items: center;
    background-color: rgba(var(--File-background-color), .1);
    border: none;
    border-radius: var(--File-border-radius);
    display: inline-flex;
    font-size: var(--File-font-size);
    font-weight: 400;
    line-height: 1;
    margin-right: 1rem;
    padding: var(--File-padding);
    transition: .3s;
}

    /*  default states
    ================================================================================================================= */
    .File:not(:disabled):not(.no-remove):hover,
    .File:not(:disabled):not(.no-remove):focus,
    .File:not(:disabled):not(.no-remove):focus-visible,
    .File:not(:disabled):not(.no-remove):focus-within,
    .File:not(:disabled):not(.no-remove):active {
        background-color: rgba(var(--File-background-color), .2);
        cursor: pointer;
        transition: .2s;
    }

    /*  disabled
    ================================================================================================================= */
    .File:disabled {
        cursor: not-allowed;
    }

    /*  space the icons
    ================================================================================================================= */
    .File .icon-file {
        height: auto;
        margin-right: .875rem;
        width: .875rem;
    }
    .File .icon-close {
        fill: rgb(var(--Global-color-1, 28 0 202));
        margin-left: .875rem;
        transform: rotate(0deg);
        transition: .3s;
        width: 1rem;
    }

    /*  basic animation
    ================================================================================================================= */
    .File:not(:disabled):hover .icon-close {
        transform: rotate(-90deg);
        transition: .2s;
    }