/*  title:  index
    notes:  application global resets/styles
 ==================================================================================================================== */




/* each component example
 ==================================================================================================================== */
.examples {
}
    /* component
     ==================================================================================================================== */
    .component-wrapper {
        background-color: #fff;
        margin-bottom: 60px;
        padding: 30px;

    }