/*  title:  pin
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Pin-border: 1px solid var(--Pin-border-color);
    --Pin-border-color: rgb(var(--Global-form-border-color, 170 176 195));
    --Pin-border-radius: var(--Global-form-border-radius, 5px);
    --Pin-font-size: var(--Global-base-font-size, 16px);
    --Pin-color-error: var(--Global-color-error, 255 0 0);
    --Pin-color-success: var(--Global-color-success, 0 255 0);
    --Pin-padding: 0 .5rem;
}


/*  base
===================================================================================================================== */
.Pin {
    display: inline-block;
}

    /*  pin formInput
    ================================================================================================================= */
    .Pin .pin-input {
        -moz-appearance: textfield;
        border: var(--Pin-border);
        border-radius: var(--Pin-border-radius);
        color: #000;
        font-size: 1.5rem;
        height: 48px;
        line-height: 1;
        outline: none;      /* poor accessability */
        margin-right: .5rem;
        padding: var(--Pin-padding);
        text-align: center;
        transition: .3s;
        width: 48px;
    }

    /* states
    ================================================================================================================= */
    .Pin input:not(:disabled):hover,
    .Pin input:not(:disabled):focus,
    .Pin input:not(:disabled):focus-visible,
    .Pin input:not(:disabled):focus-within,
    .Pin input:not(:disabled):active {
        box-shadow: inset 0 0 0 2px #424E79;    /* TODO change hex */
        border-color: transparent;
        transition: .2s;
    }

    /*  show/hide toggle
    ================================================================================================================= */
    .Pin .toggleShow {
        cursor: pointer;
    }

    /*  disabled
    ================================================================================================================= */
    .Pin input:disabled {
        background-color: #EFEFEF;
        border: 1px solid #AAB0C3;
        box-shadow: none;
        cursor: not-allowed;
    }



    /*  firefox help
    ================================================================================================================= */
    .Pin .pin-input::-webkit-outer-spin-button,
    .Pin .pin-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .Pin .hiddenInput {
        -webkit-text-security: disc;
    }

    @-moz-document url-prefix() {
        input:required {
            box-shadow: none;
        }
        .Pin .hiddenInput:valid {
            background-color: #000;
        }
    }
