/*  title:  formInput
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Form-input-phone-border: 1px solid var(--Form-input-phone-border-color);
    --Form-input-phone-border-color: rgb(var(--Global-form-border-color, 170 176 195));
    --Form-input-phone-border-radius: var(--Global-form-border-radius, 5px);
    --Form-input-phone-font-size: var(--Global-base-font-size, 16px);
    --Form-input-phone-color-error: var(--Global-color-error, 255 0 0);
    --Form-input-phone-color-success: var(--Global-color-success, 0 255 0);
    --Form-input-phone-padding: 0 .5rem;
}


/*  base
===================================================================================================================== */
.Form-input-phone.PhoneInput {
    display: inline-flex;       /*  override inherited from the module */
}
    /*  as a module, need to target the input as element
    ================================================================================================================= */
    .Form-input-phone input {
        border: var(--Form-input-phone-border);
        border-radius: var(--Form-input-phone-border-radius);
        font-size: var(--Form-input-phone-font-size);
        height: 48px;
        line-height: 1;
        outline: none;      /* poor accessability */
        padding: var(--Form-input-phone-padding);
        transition: .3s;
    }

        /*  states
        ============================================================================================================= */
        .Form-input-phone input:hover,
        .Form-input-phone input:focus,
        .Form-input-phone input:focus-visible,
        .Form-input-phone input:focus-within,
        .Form-input-phone input:active {
            box-shadow: inset 0 0 0 2px #424E79;    /* TODO change hex */
            border-color: transparent;
            transition: .2s;
        }

        /*  error
        ============================================================================================================= */
        .Form-input-phone input.error {
            background: url('error.png') 95% 50% no-repeat;
            border-color:  rgb(var(--Form-input-phone-color-error));
        }
            .Form-input-phone.error:hover {
                border-color: transparent;
            }

        /*  success
        ============================================================================================================= */
        .Form-input-phone input.success {
            background: url('success.png') 95% 50% no-repeat;
            border-color: rgb(var(--Form-input-phone-color-success));
        }
            .Form-input-phone.success:hover {
                border-color: transparent;
            }

        /*  disabled
        ============================================================================================================= */
        .Form-input-phone input:disabled {
            background-color: #EFEFEF;
            border: 1px solid #AAB0C3;
            box-shadow: none;
            cursor: not-allowed;
        }


    /*  used with a label
    ================================================================================================================= */
    .Label ~ .PhoneInput {
        margin-top: 1rem;
    }