/*  title:  FileUpload
    notes:  molecule styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --File-upload-border-radius: var(--Global-border-radius, 5px);
    --File-upload-font-size: 1rem;
    --File-upload-padding: 12px 24px;
}


/*  base
===================================================================================================================== */
.File-upload {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
    /*  label acts as the "button"
    ================================================================================================================= */
    .File-upload label {
        align-items: center;
        border: 1px solid rgb(var(--Global-color-5, 114 123 155));
        border-radius: var(--File-upload-border-radius);
        cursor: pointer;
        display: inline-flex;
        font-size: var(--File-upload-font-size);
        font-weight: 400;
        line-height: 1;
        margin-right: 1rem;
        padding: var(--File-upload-padding);
        transition: .3s;
    }
        .File-upload label.disabled {
            pointer-events: none;
        }

        /*  sort the icon */
        .File-upload .icon-attachment,
        .File-upload .icon-spinner{
            margin-right: .875rem;
        }

    /*  hide the original input
    ================================================================================================================= */
    .File-upload input {
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        width: .1px;
        z-index: -1;
    }

    /*  files
    ================================================================================================================= */
    .File-upload .File {
        margin: 2px 1rem 2px 0;
    }
