/*  title:  selectTags
    notes:  molecule styles
            select a tag from an existing list/array
===================================================================================================================== */




/*  main component
===================================================================================================================== */
.Select-tags {
   --Select-tags-border: 1px solid var(--Select-tags-border-color);
   --Select-tags-border-color: rgb(var(--Global-form-border-color, 170 176 195));
   --Select-tags-border-radius: var(--Global-form-border-radius, 5px);
   --Select-tags-font-size: var(--Global-base-font-size, 16px);
   --Select-tags-padding: .25rem .75rem;

    width: 100%;
}


/*  this is the upper, tags have been added, container
===================================================================================================================== */
.Select-tags .selected-tags-container {
    align-items: center;
    border: var(--Select-tags-border);
    border-radius: var(--Select-tags-border-radius);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--Select-tags-font-size);
    line-height: 1;
    min-height: 44px;
    outline: none;      /* poor accessability */
    padding: var(--Select-tags-padding);
}
    .Select-tags .selected-tags-container .Filter-tag {
        margin: 3px;
    }


    /*  tags added container
    ================================================================================================================= */
    .Select-tags .tags-container {
        margin-top: .25rem;
    }

