/*  title:  page-onboard
    notes:  layout for the page
 ==================================================================================================================== */



/*  variables
===================================================================================================================== */
:root {
}


/*  override the template styles for this page
===================================================================================================================== */
.page-onboard p {
    padding: 0;
}

    .page-onboard form {
        margin-top: 2rem;
    }

    /*TODO*/
    .page-onboard section {
        margin-bottom: 2rem;
    }