/*  title:  button
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Button-border-radius: var(--Global-button-border-radius, 5px);
    --Button-color-1: var(--Global-button-color-1, 0 0 255);
    --Button-color-2: var(--Global-button-color-2, 0 255 0);
    --Button-color-1-darker: var(--Global-button-color-1-darker, 0 0 220);
    --Button-color-2-darker: var(--Global-button-color-2-darker, 0 220 0);
    --Button-font-size: 1rem;
    --Button-padding: var(--Global-button-padding, 12px 24px);
}


/* base
===================================================================================================================== */
.Button {
    align-items: center;
    border-radius: var(--Button-border-radius);
    display: inline-flex;
    font-size: var(--Button-font-size);
    font-weight: 700;
    line-height: 1;
    justify-content: center;
    padding: var(--Button-padding);
    transition: .3s;
}

    /*  test states
    ================================================================================================================= */
    .Button:not(:disabled):hover,
    .Button:focus,
    .Button:focus-visible,
    .Button:focus-within,
    .Button:active {
        background: none;
        cursor: pointer;
        transition: .2s;
    }





    /*  test
    ================================================================================================================= */
    .Button {
        background-color: rgb(var(--Button-color-1));
        border: none;       /* only add to outline */
        color: #fff;    /* TODO might have to revisit this, would normally run a contrast function on the background */
    }
        /*  test: states
        ============================================================================================================= */
        .Button:not(:disabled):hover,
        .Button:not(.outline):focus,
        .Button:not(.outline):focus-visible,
        .Button:not(.outline):focus-within,
        .Button:not(.outline):active {
            background-color: rgba(var(--Button-color-1-darker));
        }
        .Button:disabled {
            background-color: rgba(var(--Button-color-1), .3);
        }

        /*  test: outline
        ============================================================================================================= */
        .Button.outline {
            background-color: transparent;
            border: 1px solid rgb(var(--Button-color-1));
            color: rgb(var(--Button-color-1));
        }
        .Button:not(:disabled).outline:hover,
        .Button.outline:focus,
        .Button.outline:focus-visible,
        .Button.outline:focus-within,
        .Button.outline:active {
            background-color: transparent;
            border-color: rgb(var(--Global-button-color-1-darker));
            color: rgb(var(--Global-button-color-1-darker));
        }
        .Button.outline:disabled {
            border: 1px solid rgba(var(--Button-color-1), .3);
            color: rgba(var(--Button-color-1), .3);
        }




    /*  secondary
    ================================================================================================================= */
    .Button.secondary {
        background-color: rgb(var(--Button-color-2));
        border: none;       /* only add to outline */
    }
        /*  secondary: outline
        ============================================================================================================= */
        .Button:not(:disabled).secondary:hover,
        .Button.secondary:not(.outline):focus,
        .Button.secondary:not(.outline):focus-visible,
        .Button.secondary:not(.outline):focus-within,
        .Button.secondary:not(.outline):active {
            background-color: rgb(var(--Button-color-2-darker));
        }
        .Button.secondary:disabled {
            background-color: rgba(var(--Button-color-2), .3);
        }

        /*  secondary: outline
        ============================================================================================================= */
        .Button.secondary.outline {
            background-color: transparent;
            border: 1px solid rgb(var(--Button-color-2));
            color: rgb(var(--Button-color-2));
        }
        .Button:not(:disabled).secondary.outline:hover,
        .Button.secondary.outline:focus,
        .Button.secondary.outline:focus-visible,
        .Button.secondary.outline:focus-within,
        .Button.secondary.outline:active {
            background-color: transparent;
            border: 1px solid rgb(var(--Button-color-2-darker));
            color: rgb(var(--Button-color-2-darker));
        }
        .Button.secondary.outline:disabled {
            border: 1px solid rgba(var(--Button-color-2), .3);
            color: rgba(var(--Button-color-2), .3);
        }


    /*  minimal
    ================================================================================================================= */
    .Button.minimal {
        background-color: transparent;
        border: none;
        color: rgba(var(--Button-color-1), 1);
    }
    .Button:not(:disabled).minimal:hover,
    .Button.minimal:focus,
    .Button.minimal:focus-visible,
    .Button.minimal:focus-within,
    .Button.minimal:active {
        background-color: transparent;
        border-color: transparent;
        color: #1C00CA;      /*  TODO we might want some pure css to modify global branding colours but beyond the scope here */
    }
    .Button.minimal:disabled {
        color: rgba(var(--Button-color-1), .3);
    }




    /*  button with icon
    ============================================================================================================= */
    .Button .icon {
        fill: #fff;
        height: 1em;
    }


    /*  disabled
    ================================================================================================================= */
    .Button:disabled {
        background-color: rgba(var(--Button-color-1), .3);
        cursor: not-allowed;
    }


    /*  large
    ================================================================================================================= */
    .Button.large {
        font-size: 22px;
    }


    /*  round
    ================================================================================================================= */
    .Button.round {
        align-items: center;
        display: flex;
        border-radius: 100%;
        justify-content: center;
        padding: 1rem;
    }