/*  title:  titleBar
    notes:  molecule styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Title-bar-break: var(--global-break-medium, 767px);
}


/*  basic - mobile first
===================================================================================================================== */
.Title-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}
/*@media screen and (min-width: 768px) {*/
/*    .Title-bar {*/
/*        padding: 2rem 0;*/
/*    }*/
/*}*/

    .Title-bar h1,
    .Title-bar h2,
    .Title-bar h3,
    .Title-bar p {
        display: inline;
        margin-right: auto;
        padding: .625rem 0;
        width: auto;
    }




/*  basic - laptop >
===================================================================================================================== */
@media screen and (min-width: 768px) {
    .Title-bar {
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}