/*  title:  iconBar
    notes:  molecule styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {
    --Icon-bar-background-color: var(--Global-color-5-darker, 66 78 121);
    --Icon-bar-border-color: var(--Global-color-5, 114 123 155);
}


/*  base
===================================================================================================================== */
.Icon-bar {
    align-items: center;
    background-color: rgb(var(--Icon-bar-background-color));
    border-right: 1px solid rgba(var(--Icon-bar-border-color), .6);
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .75rem 1rem 2rem;
}

    /*  with image/icon
    ================================================================================================================= */
    .Icon-bar > img,
    .Icon-bar > .Icon {
        margin: .5rem;
    }

    /*  TODO dev to align bottom */
    .Icon-bar .round {
        margin-top: auto;
    }