/*  title:  label
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Label-color: #202B37;
}




/* base
===================================================================================================================== */
.Label {
    color: var(--Label-color);
    font-weight: 700;
}
