/*  title:  label
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Label-color: #202B37;
}




/*  base
===================================================================================================================== */
.Label {
    color: var(--Label-color);
    display: block;
    font-weight: 700;
}

    /*  when followed by input, give some margin (NOTE: could potentially do this on the molecule but would require a wrapper class)
    ================================================================================================================= */
    .Label ~ input,
    .Label ~ textarea,
    .Label ~ select {
        margin-top: 1rem;
    }