/*  title:  template-minimal
    notes:  minimal template, with basic header and small content area (eg login)
===================================================================================================================== */



/*  variables
===================================================================================================================== */
:root {
}


/*  BREAKPOINT - Mobile
===================================================================================================================== */
.Template-minimal {
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}
    /*  header
    ================================================================================================================= */
    .Template-minimal .header {
        align-items: center;
        background-color: #f5f5f5;
        border-bottom: 1px solid rgba(var(--Global-color-5,  114 123 155), .2);
        display: flex;
        justify-content: center;
        padding: 1.5rem 2.5rem;
        width: 100%;
    }
        .Template-minimal .header a {
            display: none;
        }

    /*  main (children/page content)
    ================================================================================================================= */
    .Template-minimal .main {
        max-width: 100%;
        padding: 2rem;
    }




/*  BREAKPOINT - Tablet >
===================================================================================================================== */
@media screen and (min-width: 768px) {
    .Template-minimal .header {
        justify-content: space-between;
    }

        /*  header
        ============================================================================================================= */
        .Template-minimal .header a {
            color: rgb(var(--Global-color-1, 70 50 251));
            display: inherit;
            font-weight: 700;
            text-decoration: none;
        }

        /*  main (children/page content)
        ============================================================================================================= */
        .Template-minimal .main {
            width: calc(385px + 2rem);      /*  the calc is because we pad the content so need to add that width back dur to box-sizing   */
        }
}

