/*  title:  Form-textarea
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Form-textarea-border: 1px solid rgb(var(--Global-border-color, 170 176 195));
    --Form-textarea-border-radius: var(--Global-border-radius, 5px);
    --Form-textarea-font-size: 16px;
    --Form-textarea-color-error: var(--Global-color-error, 255 0 0);
    --Form-textarea-color-success: var(--Global-color-success, 0 255 0);
    --Form-textarea-padding: 16px 8px;
}


/* base
===================================================================================================================== */
.Form-textarea {
    border: var(--Form-textarea-border);
    border-radius: var(--Form-textarea-border-radius);
    font-size: var(--Form-textarea-font-size);
    line-height: 1;
    min-height: 80px;
    outline: none;      /* poor accessability */
    padding: var(--Form-textarea-padding);
    transition: .3s;
}

    /* states
    ================================================================================================================= */
    .Form-textarea:hover,
    .Form-textarea:focus,
    .Form-textarea:focus-visible,
    .Form-textarea:focus-within,
    .Form-textarea:active {
        box-shadow: inset 0 0 0 2px #424E79;
        border-color: transparent;
        transition: .2s;
    }

    /* error
    ================================================================================================================= */
    .Form-textarea.error {
        border-color: rgb(var(--Form-textarea-color-error));
    }

    /* success
    ================================================================================================================= */
    .Form-textarea.success {
        border-color: rgb(var(--Form-textarea-color-success));
    }

    /* disabled
    ================================================================================================================= */
    .Form-textarea:disabled {
        background-color: #EFEFEF;
        border: 1px solid #AAB0C3;
        box-shadow: none;
        cursor: not-allowed;
    }

    /* large
    ================================================================================================================= */
    .Form-textarea.large {
        font-size: 22px;
    }