/*  title:  table
    notes:  component styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Table-th-color: var(--Global-color-5, 114, 123, 155);
    --Table-td-color: var(--Global-color-5, 114, 123, 155);
    --Table-td-hover-color: var(--Global-color-1, 28 0 202);
}


/*  Table (mobile first)
===================================================================================================================== */
.Table {
    border-collapse: collapse;
    padding: 0 2rem;
    width: 100%;
}
    .Table strong {
        color: rgb(32, 43, 55);
        font-weight: 700;
    }

    /*  head
    ================================================================================================================= */
    .Table th {
        border-bottom: 1px solid rgb(var(--Global-border-color, 170 176 195));
        color: rba(var(--Table-th-color));
        display: none;      /*  don't show header on mob    */
        font-weight: 600;
        font-size: .625rem;
        line-height: .875rem;
        padding: 0 0 10px .5rem;
        text-align: left;
        letter-spacing: .08em;
        text-transform: uppercase;
    }

    /*  tr
    ================================================================================================================= */
    .Table tbody tr {
        border-top: 1px solid #EFEFEF;
        display: flex;
        flex-direction: column;
        padding: .5rem 0;
        transition: .3s;
    }
        .Table tbody tr:hover {
            background-color: rgba(var(--Table-td-hover-color), .1);
            /*cursor: pointer;*/
            transition: .2s;
        }

        /*  td
        ============================================================================================================= */
        .Table td {
            color: rba(var(--Table-td-color));
            font-family: Nunito Sans, sans-serif;
            font-size: .875rem;
            line-height: 1.4;
            padding: 0;
        }





/*  Table - laptop >
===================================================================================================================== */
@media screen and (min-width: 767px) {

    /*  head
    ================================================================================================================= */
    .Table th {
        display: table-cell;
    }

    /*  tr
    ================================================================================================================= */
    .Table tbody tr {
        display: table-row;
        padding: 0;
    }
        /*  td
        ============================================================================================================= */
        .Table td {
            padding: 1rem .5rem;
        }
}