/*  title:  iconBar
    notes:  organism styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {
    --Side-bar-global-bg-color: var(--Global-color-5-darker, 66 78 121);
}


/*  base
 ==================================================================================================================== */
.Side-bar {
    align-items: stretch;
    display: inline-flex;       /*  TODO might need to rethink positioning */
    max-height: 100vh;
    min-height: 100vh;
    position: sticky;
    top: 0;
}
    @media screen and (max-width: 767px) {
        .Side-bar {
            position: fixed;
            transform: translateX(-100%);
            transition: .3s
        }
            .Side-bar.active {
                transform: translateX(0);
                transition: .2s
            }
    }

    /*  main container for the lists/footer
     ================================================================================================================ */
    .Side-bar .options {
        background-color: rgb(var(--Side-bar-global-bg-color));
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;       /*  make this match on the Icon-bar */
        width: 210px;
    }
        /*  TODO not sure if this is a requirement with new bar */
        .Side-bar > .options > h1 {
            border-bottom: 1px solid #727B9B;
            color: #fff;
            font-size: .875rem;
            margin: 0;
            padding: 1rem;
        }

        /*  footer
         ============================================================================================================ */
        .Side-bar .footer {
            margin-top: auto;
        }
        .Side-bar .footer .List-item:not(:last-of-type) {
            margin-bottom: .25rem;
        }
            .Side-bar .footer a {
                display: block;
                width: 1000;
            }