/*  title:  iconBar
    notes:  organism styles
 ==================================================================================================================== */



/*  variables
 ==================================================================================================================== */
:root {
    --Side-bar-global-bg-color: var(--Global-color-5-darker, 66 78 121);
}


/*  base
 ==================================================================================================================== */
.Side-bar {
    align-items: stretch;
    display: inline-flex;       /*  TODO might need to rethink positioning */
    height: 100%;
}


    /*  main container for the lists/footer
     ================================================================================================================ */
    .Side-bar .options {
        background-color: rgb(var(--Side-bar-global-bg-color));
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;       /*  make this match on the Icon-bar */
        width: 200px;
    }
        /*  TODO not sure if this is a requirement with new bar */
        .Side-bar > .options > h1 {
            border-bottom: 1px solid #727B9B;
            color: #fff;
            font-size: .875rem;
            margin: 1rem 1rem 0 1rem;
            padding-bottom: 1rem;
        }

        /*  footer
         ============================================================================================================ */
        .Side-bar .footer {
            margin-top: auto;
        }
