/*  title:  index
    notes:  application global resets/styles
            NOTE:   rough styling, not intended for production/live but as a developer/designer guide
                    sizes would normally be scaled from the root, but for speed are set from figma
 ==================================================================================================================== */




/*  import fonts
===================================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');




/*  global application vars
===================================================================================================================== */
:root {
    --Global-base-font-size: 16px;
    --Global-base-font-color: 66, 78, 121;

    --Global-border-color: 170, 176, 195;
    --Global-border-radius: 5px;

    --Global-color-1: 70, 50, 251;
    --Global-color-2: 40, 216, 173;
    --Global-color-error: 207, 0, 87;
    --Global-color-success: 5, 195, 150
}




/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




/*  set a basic container/style that wraps these examples
===================================================================================================================== */
body {
    background-color: #E5E5E5;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
    #root {
        background-color: #eeeeee;
        margin: 0 auto;
        padding: 30px;
        width: 1040px;
    }




/*  site nav (to toggle between the atoms/molecules/organisms
===================================================================================================================== */
.site-nav {
    background-color: #424E79;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1rem 0;
    position: fixed;
    top: 3rem;
}
