/*  title:  formInput
    notes:  atom styles
 ==================================================================================================================== */




/*  variables
===================================================================================================================== */
:root {
    --Form-input-border: 1px solid var(--Form-input-border-color);
    --Form-input-border-color: rgb(var(--Global-form-border-color, 170 176 195));
    --Form-input-border-radius: var(--Global-form-border-radius, 5px);
    --Form-input-font-size: var(--Global-base-font-size, 16px);
    --Form-input-color-error: var(--Global-color-error, 255 0 0);
    --Form-input-color-success: var(--Global-color-success, 0 255 0);
    --Form-input-padding: 0 .5rem;
}


/*  base
===================================================================================================================== */
.Form-input {
    border: var(--Form-input-border);
    border-radius: var(--Form-input-border-radius);
    font-size: var(--Form-input-font-size);
    height: 48px;
    line-height: 1;
    outline: none;      /* poor accessability */
    padding: var(--Form-input-padding);
    transition: .3s;
}

    /*  states
    ================================================================================================================= */
    .Form-input:hover,
    .Form-input:focus,
    .Form-input:focus-visible,
    .Form-input:focus-within,
    .Form-input:active {
        box-shadow: inset 0 0 0 2px #424E79;    /* TODO change hex */
        border-color: transparent;
        transition: .2s;
    }

    /*  error
    ================================================================================================================= */
    .Form-input.error {
        background: url('error.png') 95% 50% no-repeat;
        border-color:  rgb(var(--Form-input-color-error));
    }
        .Form-input.error:hover {
            border-color: transparent;
        }

    /*  success
    ================================================================================================================= */
    .Form-input.success {
        background: url('success.png') 95% 50% no-repeat;
        border-color: rgb(var(--Form-input-color-success));
    }
        .Form-input.success:hover {
            border-color: transparent;
        }

    /*  disabled
    ================================================================================================================= */
    .Form-input:disabled {
        background-color: #EFEFEF;
        border: 1px solid #AAB0C3;
        box-shadow: none;
        cursor: not-allowed;
    }

    /*  large
    ================================================================================================================= */
    .Form-input.large {
        font-size: 22px;
    }
